form {
  display: flex;
  flex-direction: row;
  width: 20em;
  margin: 1em;
}

input[type=text] {
  padding: 1em;
  border: 1px solid white;
  width: 80%;
  color: white;
  background-color: black;
  font-family: 'Futura', serif;
  font-size: medium;
}

button {
  padding: 1em;
  width: 20%;
  border: 1px solid white;
  color: white;
  background-color: #222;
  font-size: large;
}

button:hover {
  background-color: #444;
}