@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');

form {
  display: flex;
  flex-direction: row;
  width: 20em;
  margin: 1em;
}

input[type=text] {
  padding: 1em;
  border: 1px solid white;
  width: 80%;
  color: white;
  background-color: black;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

button {
  padding: 1em;
  width: 20%;
  border: 1px solid white;
  color: white;
  background-color: #222;
  font-size: 1em;
}

button:hover {
  background-color: #444;
}